<mat-dialog-content>
	<h3>Cambiar contraseña</h3>
	<form [formGroup]="passwordForm" fxLayout="column">
		<mat-form-field>
			<mat-label>Contraseña vieja</mat-label>
			<input type="password" matInput required formControlName="oldPassword" />
			<mat-error *ngIf="passwordForm.hasError('required', 'oldPassword')">Este campo es obligatorio.</mat-error>
			<mat-error *ngIf="passwordForm.hasError('invalidPass', 'oldPassword')">Contraseña invalida.</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Contraseña nueva</mat-label>
			<input type="password" matInput required formControlName="newPassword" />
			<mat-error *ngIf="passwordForm.hasError('required', 'newPassword')">Este campo es obligatorio.</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Repetir contraseña</mat-label>
			<input type="password" matInput required formControlName="newPasswordConfirm" [errorStateMatcher]="passwordMatcher" />
			<mat-error *ngIf="passwordForm.hasError('required', 'newPasswordConfirm')">Este campo es obligatorio.</mat-error>
			<mat-error *ngIf="passwordForm.hasError('mustMatch')">Ambas contraseñas deben de ser iguales.</mat-error>
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cancelar</button>
	<button mat-button [disabled]="!passwordForm.valid" (click)="changePassword()">Cambiar contraseña</button>
</mat-dialog-actions>
