@use '~@angular/material' as mat;
@use './app-theme';
@use './styles/general';

$_primary: mat.define-palette(mat.$deep-purple-palette);
$_accent: mat.define-palette(mat.$purple-palette, A200, A100, A400);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
	base: $light-text,
	divider: $light-dividers,
	dividers: $light-dividers,
	disabled: $light-disabled-text,
	disabled-button: rgba($light-text, 0.3),
	disabled-text: $light-disabled-text,
	elevation: black,
	hint-text: $light-disabled-text,
	secondary-text: $light-accent-text,
	accent-text: $light-accent-text,
	icon: $light-text,
	icons: $light-text,
	text: $light-text,
	slider-min: $light-text,
	slider-off: rgba($light-text, 0.3),
	slider-off-active: rgba($light-text, 0.3),
);

// $dark-background:     #2c2c2c;
// $dark-bg-lighter-5:   lighten($dark-background, 5%);
// $dark-bg-lighter-10:  lighten($dark-background, 10%);
// $dark-bg-lighter-20:  lighten($dark-background, 20%);
// $dark-bg-lighter-30:  lighten($dark-background, 30%);
$dark-background:   #292929;
$dark-bg-darker-5:   darken($dark-background, 5%);
$dark-bg-darker-7:   darken($dark-background, 7%);
$dark-bg-darker-10:  darken($dark-background, 10%);
$dark-bg-darker-20:  darken($dark-background, 20%);
$dark-bg-darker-30:  darken($dark-background, 30%);
$light-bg-alpha-4:   rgba(#fafafa, 0.22);
$light-bg-alpha-12:  rgba(#fafafa, 0.12);

$mat-dark-theme-background: (
	background:               $dark-background,
	status-bar:               $dark-bg-darker-20,
	app-bar:                  $dark-bg-darker-5,
	hover:                    $light-bg-alpha-4,
	card:                     $dark-bg-darker-7,
	dialog:                   $dark-bg-darker-5,
	tooltip:                  $dark-bg-darker-20,
	disabled-button:          $light-bg-alpha-12,
	raised-button:            $dark-bg-darker-5,
	focused-button:           $light-focused,
	selected-button:          $dark-bg-darker-20,
	selected-disabled-button: $dark-bg-darker-30,
	disabled-button-toggle:   $dark-bg-darker-10,
	unselected-chip:          $dark-bg-darker-20,
	disabled-list-option:     $dark-bg-darker-10,
);

$_typography: mat.define-typography-config();

$_theme: (
	primary: $_primary,
	accent: $_accent,
	warn: mat.define-palette(mat.$red-palette),
	is-dark: true,
	foreground: $mat-dark-theme-foreground,
	background: $mat-dark-theme-background
);


// $_theme: mat.define-dark-theme((
// 	color: (
// 		primary: $_primary,
// 		accent: $_accent
// 	)
// ));

@include mat.core();

@include mat.all-component-themes($_theme);
@include app-theme.theme($_theme);


// Theme overrides:
app-root {
	.mat-button,
	.mat-stroked-button {
		&:hover:not(.mat-button-disabled) .mat-button-focus-overlay {
			opacity: 0.22;
		}
	}
}

// /* Change the white to any color */
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
// 	-webkit-box-shadow: 0 0 0 30px white inset !important;
// }
// input:-webkit-autofill {
// 	-webkit-background-clip: text;
// }
