@use 'sass:map';
@use '~@angular/material' as mat;

@mixin theme($theme) {
	$primary: map.get($theme, primary);
	$accent: map.get($theme, accent);
	$warn: map.get($theme, warn);
	$background: map.get($theme, background);
	$foreground: map.get($theme, foreground);
	// $typo-config: mat.get-typography-config($theme, mat.define-typography-config());
	$typo-config: mat.define-typography-config();

	.hilo-page {
		.publicacion-hilo {
			background: mat.get-color-from-palette($background, card);
			border: 2px solid mat.get-color-from-palette($background, card);
			color: mat.get-color-from-palette($primary, default-contrast);

			.user-container {
				app-basic-user-label {
					font: {
						size: mat.font-size($typo-config, subheading-2);
						weight: mat.font-weight($typo-config, title);
					}
					line-height: mat.font-size($typo-config, subheading-2) + 4;
				}
			}

			.post-content {
				background: mat.get-color-from-palette($background, dialog);
				font: {
					size: mat.font-size($typo-config, body-1);
					weight: mat.font-weight($typo-config, body-1);
				}
			}

			.content-container {
				.post-header {
					font: {
						size: mat.font-size($typo-config, body-2);
						weight: mat.font-weight($typo-config, body-1);
					}

					color: mat.get-color-from-palette($foreground, default-contrast);
					line-height: mat.font-size($typo-config, body-2);

					.secondary {
						color: mat.get-color-from-palette($foreground, secondary-text) !important;
					}
				}
			}
		}

		.subscribe-button {
			padding: 0 8px;
			min-width: unset;
		}

		.new-publicacion-form.not-logged {
			color: mat.get-color-from-palette($warn, text);
		}
		.new-publicacion-form .length {
			color: mat.get-color-from-palette($foreground, secondary-text);
		}
	}
}
