@use '../styles/constants';

:host {
	display: flex;
	flex-direction: column;
	height: 100vh;

	& > app-navbar {
		flex: 1;
	}
}

app-navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}
